/*Añadida fuente nasa*/
@font-face{
    font-family: letranasa;
    src: url('letranasa.ttf');
  }

body {
    background-image: url("eclipse.jpg");
    font-family: letranasa;
    
  }
  
  p {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 40px;
    width: 360px;
    height: 60px;
    border-radius: 5px;
    padding-right: 10px;
   
  }
  
  button {
    width: 70px;
    height: 60px;
    border-bottom: 2%;
    border-radius: 15px 0px 15px 0px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-family: letranasa;
    
  }
  div {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 150px;
    /*background-color: #fff5bd;*/
    background-image: linear-gradient(to bottom right, rgb(92, 67, 0), rgb(255, 251, 226));
    width: 372px;
    height: 450px;
    border-radius: 20px;

  }