/*Añadida fuente nasa*/
@font-face{
    font-family: letranasa;
    src: url('letranasa.ttf');
  }

  body {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: rgb(34, 34, 34);
    font-family: letranasa;
    text-align: center;
  }

  button{
    background-size: auto;
    background-color: #ca0c7b;
    font-family: letranasa;
    font-size: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #fff9fd;
  }
  

.original{   
    float: left;
    font-weight: 10;
    font-size: 15px;
    text-align: center;
    color: rgb(212, 5, 143);
    margin-left: 200px;
  
}

.filtrada{
    float: right;
    font-weight: 10;
    font-size: 15px;
    text-align: center;
    color: rgb(212, 5, 143);   
    margin-right: 200px;
}

.filtros{
    margin-top: 400px;
}

.deslizadores{
    font-size: 15px;
    font-family: letranasa;
    color: black;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    column-count: 3;
}

#range_value_Rojo, #range_value_Verde, #range_value_Azul{
    margin-right: 30px;
}

