/*Añadida fuente nasa*/
@font-face{
    font-family: letranasa;
    src: url('letranasa.ttf');
  }

  body {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: rgb(34, 34, 34);
    font-family: letranasa;
    text-align: center;
  }

  button{
    background-size: auto;
    background-color: #ca0c7b;
    font-family: letranasa;
    font-size: 15px;
    margin: 10px;
    border-radius: 10px;
    color: #fff9fd;
    cursor: pointer;
  }

  button:hover {
    background-color: #53bfca;
  }
  

.original{   
    font-weight: 10;
    font-size: 15px;
    text-align: center;
    color: rgb(212, 5, 143);
    width: 50%;
  
}

.filtrada{
    font-weight: 10;
    font-size: 15px;
    text-align: center;
    color: rgb(212, 5, 143);
    width: 50%;
}

.filtros{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.deslizadores{
    font-size: 15px;
    font-family: letranasa;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#range_value_Rojo, #range_value_Verde, #range_value_Azul{
    margin-right: 30px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-items: center;
  align-items: center;
}

@media (max-width: 860px) {
  .contenedor {
    flex-direction: column;
  }

  .original {
    width: 100%;
  }

  .filtrada {
    width: 100%;
  }
}

.umbral {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.button-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}